*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  background-color:#fff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 1100px;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
nav {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  width: 391px;
  color:#000;
  display:flex;
  justify-content: space-around;
  margin-left: 50px;
  gap: 31px;
  margin-bottom: 3px;
}
address {
  font-size: 18px;
  font-style: normal;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  text-underline-offset: 3px;
  gap: 1px;
  line-height: 24px;
}
footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding-bottom: 81px;
}
h1 {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30%;
}