.nav-item {
  text-decoration: underline;
  text-underline-offset: 3px; /* смещает линию вниз на 5 px */
  cursor: pointer; /* Курсор в виде указателя для кликабельности */
}
.nav-item:hover {
  text-decoration: none;
}
.nav-list {
  list-style: circle;
  display: flex;
  gap: 32px;
}
.header__adress {
  padding: 2px;
  width: 240px;
  max-width: 240px;
  margin-top: 45px;
  margin-right: 50px;
  margin-bottom: 46px;
  gap: 1px;
}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:baseline;
  width: 1100px;
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 180px;
}
.lense::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Цвет и прозрачность (здесь 50% черного) */
  position: absolute;
  top: 0;
  left: 0;
}
.cover-title {
  z-index: 1;
  width: 1100px;
  color: #fff;
  margin: auto;
  margin-top: 155px;
  text-transform: uppercase;
  letter-spacing: 30%;
  font-weight: bold;
  display: grid;
  grid-template-rows: repeat(3fr, 1);
  gap: 0;
  line-height: 135px;
}
.cover-title-left {
  grid-row: 1;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.cover-title-center {
  grid-row: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 33px;
}
.cover-title-right {
  grid-row: 3;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 19px;
}
.description {
  z-index: 1;
  color:#fff;
  font-size: 22px;
  width: 1100px;
  margin-bottom: 50px;
  margin-left: 0px;
  padding-left: 50px;
  padding-right: 50px;
  word-spacing: 90%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.believe {
  word-spacing: 80%;
}
.lots {
  margin-left: 64px;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 27px;
}
.cards {
margin-left: 25px;
width: 1050px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
row-gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
  border: 1px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.card-title {
  width: 254px;
  margin-top: 48px;
  margin-left: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  z-index: 2;
  font-weight: 700;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
.card-text {
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  width: 254px;
  margin-bottom: 48px;
}
.card-movie {
  background-image: url(../images/card-lot-01.jpg);
}
.card-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}
.more {
  text-decoration: underline;
  text-underline-offset: 4px; /* смещает линию вниз на 5 px */
  cursor: pointer; /* Курсор в виде указателя для кликабельности */
  margin-top: 30px;
  margin-left: 64px;
  font-size: 20px;
}
.more:hover {
  text-decoration: none;
}
button {
  color:#fff;
  font: inherit;
  position: relative;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  width: 256px;
  min-height: 52px;
  box-shadow: none;                    /* убираем тень */
  border: 1px solid #fff;             /* чёткая граница: 2 px, сплошной стиль, цвет #333 */
  cursor: pointer;                     /* курсор в виде указателя при наведении */
  font-size: 22px;                    /* размер текста */
}
.about {
  width: 1052px;
  display: flex;
  position: relative;
  margin-left: 24px;
  margin-bottom: 158px;
}
.logo-circle {
  width: 240px;          /* задайте нужный размер круга */
  height: 240px;        /* должен совпадать с width для идеального круга */
  background-color: black;  /* чёрный фон круга */
  border-radius: 50%;   /* делает элемент круглым */
  display: grid;
  place-items: center; /* центрирует содержимое и по вертикали, и по горизонтали */
  margin-left: 47px;
  margin-top: 35px;
}
.logo-circle img {
  width: 148px;
  height: 114px;
}
.about-about {
  width: 693px;
  margin-top: 133px;
  margin-left:40px;
}
.about-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 68px;
  margin-left: 32px;
}
.description-block {
  margin-top: 100px;
  margin-left: 32px;
  padding-right: 5px;
  width: 693px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
}
.description-text {
  margin-bottom: 24px;
}
.footer-img {
  width: 48px;
  height: 48px;
}
.footer-address {
  width: 265px;
  margin:0;
  padding: 0px;
  margin-left: 50px;
  border:1px;
}
.custom-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.img-logo {
  height: 105px;
  width: 148px;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 164px;
  margin-top: 3px;
  margin-left: 0px;
  row-gap: 3px;
  margin-right: 24px;
}
.footer-item {
  text-decoration: underline;
  text-underline-offset: 3px; /* смещает линию вниз на 5 px */
  cursor: pointer; /* Курсор в виде указателя для кликабельности */
}
.footer-item:hover {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  margin-right: 50px;
}
.menu-cards {
  margin-bottom: 120px;
}
.link--active {
  text-decoration: none;
}
.no-bullit {
  list-style: none;
}